.header_img {
  height: 65px;
  border-radius: 50%;
}

.img_section_filosofia {
  height: 200px;
}
.img_section_steps {
  height: 50px;
}
.funciona {
  width: 50dvw;
}

.beneficios {
  width: 50dvw;
}
