<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Inicio</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='home/home.css')}}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='index.css') }}"
    />
  </head>

  <body>
    <!-- Header -->
    <header
      class="container-fluid d-flex gap-3 align-items-center justify-content-around header p-3 border-bottom bg-dark"
    >
      <div class="">
        <a
          class="d-flex align-items-center gap-3 link-offset-2 link-underline link-underline-opacity-0"
          href="/"
        >
          <img class="header_img" src="../static/images/Logo.png" alt="" />
          <p class="fs-4 m-auto text-secondary fw-bold">Habit Tracker</p>
        </a>
      </div>
      <div class="">
        <p class="m-auto text-success fw-bold fst-italic fs-5">
          Convierte tus pequeños hábitos en grandes logros
        </p>
      </div>
      <div class="d-flex gap-1">
        <a
          class="btn btn-success link-offset-2 link-underline link-underline-opacity-0"
          href="/register"
          >Empieza ahora</a
        >
        <a
          class="btn btn-outline-success link-offset-2 link-underline link-underline-opacity-0"
          href="/login"
          >Inicia sesion</a
        >
      </div>
    </header>

    <h1 class="fs-1">
      Bienvenido a
      <span class="text-decoration-underline fw-bold">Habit Tracker</span>
    </h1>

    <!-- Seccion de habitos -->
    <article class="container-sm px-5 d-flex flex-column gap-5 mb-5">
      <div
        class="accordion accordion-flush bg-dark p-1"
        id="accordionFlushExample"
      >
    <!-- Tengo que agregar un boton que se tilde si la tarea esta completado y este en cruz si aun esta pendiente -->
        <div class="accordion-item bg-dark text-light">
          <h2 class="accordion-header">
            <button
              class="accordion-button collapsed bg-secondary"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#flush-collapseOne"
              aria-expanded="false"
              aria-controls="flush-collapseOne"
            >
              Habit 1 example
            </button>
          </h2>
          <div
            id="flush-collapseOne"
            class="accordion-collapse collapse"
            data-bs-parent="#accordionFlushExample"
          >
            <div class="accordion-body">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim
              totam eius perferendis illo. Eligendi sapiente facilis nesciunt
              animi laborum mollitia commodi laboriosam? Facilis commodi nostrum
              ad animi dolor repellat fuga.s
            </div>
            <hr />
            <div
              class="d-flex justify-content-around gap-5 pb-3"
              role="group"
              aria-label="Basic checkbox toggle button group"
            >
            <button type="button" id="btncheck1" class="btn btn-success">Completado</button>
            <button type="button" id="btncheck2" class="btn btn-warning">Editar</button>
            <button type="button" id="btncheck3" class="btn btn-danger">Eliminar</button>
            </div>
          </div>
        </div>
        <div class="accordion-item bg-dark text-light">
          <h2 class="accordion-header">
            <button
              class="accordion-button collapsed bg-secondary"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#flush-collapseTwo"
              aria-expanded="false"
              aria-controls="flush-collapseTwo"
            >
              Habit 2 example
            </button>
          </h2>
          <div
            id="flush-collapseTwo"
            class="accordion-collapse collapse"
            data-bs-parent="#accordionFlushExample"
          >
            <div class="accordion-body">
              Placeholder content for this accordion, which is intended to
              demonstrate the <code>.accordion-flush</code> class. This is the
              second item’s accordion body. Let’s imagine this being filled with
              some actual content.
            </div>
            <hr />
            <div
              class="d-flex justify-content-around gap-5 pb-3"
              role="group"
              aria-label="Basic checkbox toggle button group"
            >
            <button type="button" id="btncheck1" class="btn btn-success">Completado</button>
            <button type="button" id="btncheck2" class="btn btn-warning">Editar</button>
            <button type="button" id="btncheck3" class="btn btn-danger">Eliminar</button>
            </div>
          </div>
        </div>
        <div class="accordion-item bg-dark text-light">
          <h2 class="accordion-header">
            <button
              class="accordion-button collapsed bg-secondary"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#flush-collapseThree"
              aria-expanded="false"
              aria-controls="flush-collapseThree"
            >
              Habit 3 example
            </button>
          </h2>
          <div
            id="flush-collapseThree"
            class="accordion-collapse collapse"
            data-bs-parent="#accordionFlushExample"
          >
            <div class="accordion-body">
              Placeholder content for this accordion, which is intended to
              demonstrate the <code>.accordion-flush</code> class. This is the
              third item’s accordion body. Nothing more exciting happening here
              in terms of content, but just filling up the space to make it
              look, at least at first glance, a bit more representative of how
              this would look in a real-world application.
            </div>
            <hr />
            <div
              class="d-flex justify-content-around gap-5 pb-3"
              role="group"
              aria-label="Basic checkbox toggle button group"
            >
            <button type="button" id="btncheck1" class="btn btn-success">Completado</button>
            <button type="button" id="btncheck2" class="btn btn-warning">Editar</button>
            <button type="button" id="btncheck3" class="btn btn-danger">Eliminar</button>
            </div>
          </div>
        </div>
      </div>

      <div class="container text-center">
        <button id="btnAddHabit" class="btn btn-success">Agregar nuevo habito</button>
      </div>
    </article>

    <!-- Seccion de estadisticas y graficos -->
    <article class="container-sm bg-secondary">
      <h2>Estadisticas</h2>
    </article>

    <footer class="container-fluid bg-dark text-center">
      <h1>Footer</h1>
    </footer>

    <script src="{{ url_for('static', filename='index.js') }}"></script>
    <script src="{{ url_for('static', filename='home/home.js') }}"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
