<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" href="../static/register/register.css">
    <link rel="stylesheet" href="../static/index.css">
</head>

<body>
    <h1>Register Page</h1>
    <form class="form_register" id="registerForm">
        <div class="input_username">
            <label for="inputName">Username</label>
            <input id="inputName" type="text" placeholder="Name" required>
        </div>
        <div class="input_mail">
            <label for="inputMail">Mail</label>
            <input id="inputMail" type="email" placeholder="Mail" required>
        </div>
        <div class="input_password">
            <label for="inputPass">Password</label>
            <input id="inputPass" type="password" placeholder="Password" required>
            <label for="inputRePass">Reinsert password</label>
            <input id="inputRePass" type="password" placeholder="Reinsert password" required>
        </div>
        <div class="input_number">
            <label for="inputNumber">Number phone</label>
            <input id="inputNumber" type="tel" placeholder="Number" required>
        </div>
        <div class="error_container" id="errorContainer"></div>

        <input id="btnSubmit" type="submit" value="Registrarse">
    </form>


    <script src="../static/index.js"></script>
    <script src="../static/register/register.js"></script>
</body>

</html>