<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" href="../static/register/register.css">
    <link rel="stylesheet" href="../static/index.css">
</head>
<body>
    <h1>Register Page</h1>
    <form class="form_register" method="post">
        <div class="input_username">
            <label for="username">Username</label>
            <input id="inputName" type="text" placeholder="Name" required>
        </div>
        <div class="input_mail"></div>
            <label for="mail">Mail</label>
            <input id="inputMail" type="text" placeholder="Mail" required>
        </div>
        <div class="input_password"></div>
            <label for="password">Password</label>
            <input id="inputPass" required type="password" placeholder="Password">
        </div>

        <input id="btnSubmit" type="submit" value="Registrarse">
    </form>

    <script src="../static/index.js"></script>
    <script src="../static/register/register.js"></script>
</body>
</html>
